
.board {
    .board-table {
        table-layout: fixed;
    }

    .board-filters {
        margin: 1em 0;
    }

    .table {
        > thead  {
            > tr {
                > th {
                    text-align: center;
                }
            }
        }

        > tbody  {
            > tr {
                > td {
                    padding: 4px;

                    &.is-dragging-over {
                        @extend .bg-warning;
                    }
                }
            }
        }
    }

    .story {
        width: 50%;
    }

    .story-inner {
        padding: 4px;
    }

    .story-assigned-to {
        display: none;
    }

    .story-middle {
        display: none;
    }

    .well {
        padding: 3px;
        margin: 0;
    }
}

@media screen and (max-width: 1400px) {
  .board {
    .story {
        width: 100%;
    }
  }
}