
.board {
    .board-table {
        table-layout: fixed;

        > thead  {
            > tr {
                > th {
                    text-align: center;
                }
            }
        }

        > tbody  {
            > tr {
                > td {
                    padding: 4px;

                    &.is-dragging-over {
                        @extend .bg-warning;
                    }
                }
            }
        }
    }

    .board-toolbar {
        margin: 1em 0;
    }

    .story {
        width: 50%;
        position: relative;
    }

    .story-inner {
        padding: 4px;
    }

    .story-assigned-to,
    .story-middle {
        display: none;
    }

    .board-table.is-details-shown {
        .story-assigned-to,
        .story-middle {
            display: block;
        }
    }

    .story-icons {
        position: absolute;
        right: 10px;
        top: 8px;
    }

    .well {
        padding: 3px;
        margin: 0;
    }
}

@media screen and (max-width: 1400px) {
  .board {
    .story {
        width: 100%;
    }
  }
}