
.navbar {
    .short-input-group {
        width: 180px;
    }

    .nav {
        a {
            cursor: pointer;
        }
    }

    .dropdown-menu {
        a {
            cursor: pointer;
        }
    }
}