$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/";
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap";

$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

body {
    padding-top: 60px;
    padding-bottom: 20px;
}

@import "navbar";
@import "config";
@import "board";