
<div class="board">
    <div class="board-filters">
        <form class="form-inline" role="form">
            <div class="form-group">
                <select class="form-control filter is-user"
                    multiple
                    ng-model="filters.assigned_to.id"
                    ng-options="user.id as user.name for user in (state.stories | userList)">
                </select>
            </div>
        </form>
    </div>
    <table class="board-table table table-bordered">
        <thead>
            <tr>
                <th 
                    ng-repeat="column in columns" 
                    class="board-heading" 
                    ng-class="column.name"
                    translate
                >board.{{column.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td 
                    ng-repeat="column in columns" 
                    class="board-column" 
                    ng-class="column.name" 
                    drop="column" drop-class="is-dragging-over"
                >

                    <div masonry="{ transitionDuration: '400ms', gutter: 0, isResizeBound: false, isLayoutInstant: false }">
                        <div ng-repeat="story in state.stories | filter:filters | withStatus:column.statutes" class="story masonry-brick" drag="story" drag-class="is-dragged">
                            <div class="story-inner">
                                <div class="well">
                                    <div class="story-top">
                                        <div class="story-url">
                                            <a ng-href="story.url">#<span class="story-id">{{story.id}}</span></a>
                                        </div>
                                        <div class="story-subject">{{story.subject}}</div>
                                    </div>

                                    <div class="story-middle">
                                        <span class="story-priority">{{story.priority.name}}</span> - <span class="story-estimated-hours">{{story.estimated_hours}}</span>h
                                    </div>

                                    <div class="story-bottom clearfix">
                                        <div class="story-icon">
                                            <i class="fa fa-warning fa-lg text-danger" ng-show="story.spent_time > story.estimated_hours"></i>
                                            <i class="fa fa-thumbs-down fa-lg text-danger" ng-show="story | hasStatus:'testko'"></i>
                                        </div>
                                        <div class="story-assigned-to" ng-bind="story.assigned_to.name"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>