
<div class="board">
    <table class="board-table table table-bordered">
        <thead>
            <tr>
                <th 
                    ng-repeat="column in columns" 
                    class="board-heading" 
                    ng-class="column.name"
                    translate
                >board.{{column.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td 
                    ng-repeat="column in columns" 
                    class="board-column" 
                    ng-class="column.name" 
                    drop="column" drop-class="dropping-in-column"
                >

                    <div masonry="{ transitionDuration: 0, gutter: 0 }">
                        <div bindonce ng-repeat="story in state.stories | withStatus:column.statutes" class="story masonry-brick" drag="story" drag-class="dragging-story">
                            <div class="story-inner">
                                <div class="well">
                                    <div class="story-top">
                                        <div class="story-url">
                                            <a bo-href="story.url">#<span class="story-id" bo-text="story.id"></span></a>
                                        </div>
                                        <div class="story-subject" bo-text="story.subject"></div>
                                    </div>

                                    <div class="story-middle">
                                        <span class="story-priority" bo-text="story.priority.name"></span> - <span class="story-estimated-hours" bo-text="story.estimated_hours"></span>h
                                    </div>

                                    <div class="story-bottom clearfix">
                                        <div class="story-icon">
                                            <i class="fa fa-warning fa-lg text-danger" ng-show="story.spent_time > story.estimated_hours"></i>
                                            <i class="fa fa-thumbs-down fa-lg text-danger" ng-show="story | hasStatus:'testko'"></i>
                                        </div>
                                        <div class="story-assigned-to" ng-bind="story.assigned_to.name"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>