
<div class="board">
    <h1 translate>board.title</h1>
    <div class="board-toolbar">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="showDetails" ng-change="resetLayout()" />
                    {{ 'board.toolbar.showDetails' | translate }}
                </label>
            </div>
            <div class="form-group filter is-user">
                <select class="form-control"
                    multiple
                    ng-model="filters.assigned_to.id"
                    ng-options="user.id as user.name for user in (state.stories | userList)">
                </select>
            </div>
        </form>
    </div>
    <table class="board-table table table-bordered" ng-class="{'is-details-shown': showDetails}">
        <thead>
            <tr>
                <th 
                    ng-repeat="column in columns" 
                    class="board-heading" 
                    ng-class="column.name"
                    translate
                >board.{{column.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td 
                    ng-repeat="column in columns" 
                    class="board-column" 
                    ng-class="column.name" 
                    drop="column" drop-class="is-dragging-over"
                >

                    <div masonry="{ transitionDuration: '400ms', gutter: 0, isResizeBound: false, isLayoutInstant: false }">
                        <div ng-repeat="story in state.stories | filter:filters | withStatus:column.statutes" class="story masonry-brick" drag="story" drag-class="is-dragged" ng-click="logTime(story)">
                            <div class="story-inner">
                                <div class="well">
                                    <div class="story-top">
                                        <div class="story-icons">
                                            <i class="fa fa-warning fa-lg text-danger" ng-show="story.spent_hours > story.estimated_hours" tooltip="{{'board.tooltips.excess' | translate}}"></i>
                                            <i class="fa fa-thumbs-down fa-lg text-danger" ng-show="story | hasStatus:'testko'" tooltip="{{'board.tooltips.testko' | translate}}"></i>
                                            <i class="fa fa-thumbs-up fa-lg text-success" ng-show="story.remaining_hours == 0" tooltip="{{'board.tooltips.done' | translate}}"></i>
                                        </div>
                                        <div class="story-url">
                                            <a ng-href="{{story.url}}" tooltip="{{'board.tooltips.story' | translate}}">#<span class="story-id">{{story.id}}</span></a>
                                        </div>
                                        <div class="story-subject">{{story.subject}}</div>
                                    </div>

                                    <div class="story-middle">
                                        <div class="story-info">
                                            <span class="story-estimated" tooltip="{{'board.tooltips.estimated' | translate}}">{{story.estimated_hours | toInteger}}</span>
                                            /
                                            <span class="story-spent" tooltip="{{'board.tooltips.spent' | translate}}">{{story.spent_hours | toInteger}}</span>
                                            /
                                            <span class="story-remaining" tooltip="{{'board.tooltips.remaining' | translate}}">{{story.remaining_hours | toInteger}}</span>
                                        </div>
                                    </div>

                                    <div class="story-bottom">                                            
                                        <div class="story-info clearfix">
                                            <span class="story-user pull-left" ng-bind="story.assigned_to.name"></span>
                                            <span class="story-priority pull-right" translate>config.{{story.priority}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>