<div class="config">
    <div class="modal-header clearfix">
        <div class="pull-left">
            <h3 translate>config.configuration</h3>
        </div>
        <div class="pull-right">
            <button class="btn btn-default" ng-click="toggleJsonEnabled()" translate>config.switchMode</button>
        </div>
    </div>
    <div class="modal-body">
        <form ng-hide="json.enabled">
            <fieldset>
                <legend translate>config.api</legend>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label translate>config.scheme</label>
                            <input type="text" ng-model="config.scheme" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label translate>config.host</label>
                            <input type="text" ng-model="config.host" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label translate>config.port</label>
                            <input type="text" ng-model="config.port" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label translate>config.key</label>
                            <input type="text" ng-model="config.key" class="form-control"/>
                        </div>
                    </div>
                </div>
            </fieldset>
                <div class="row">
                    <div class="col-xs-4">
                        <fieldset>
                            <legend translate>config.projects</legend>
                            <div class="form-group">
                                <label translate>config.sort</label>
                                <input type="text" ng-model="config.projects.sort" class="form-control"/>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-4">
                        <fieldset>
                            <legend translate>config.sprints</legend>
                            <div class="form-group">
                                <label translate>config.tracker</label>
                                <select class="form-control"
                                        ng-model="config.sprints.tracker"
                                        ng-options="tracker.id as tracker.name for tracker in state.trackers">
                                </select>
                            </div>
                            <div class="form-group">
                                <label translate>config.title</label>
                                <input type="text" ng-model="config.sprints.title" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label translate>config.sort</label>
                                <input type="text" ng-model="config.sprints.sort" class="form-control"/>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-4">
                        <fieldset>
                            <legend translate>config.stories</legend>
                            <div class="form-group">
                                <label translate>config.tracker</label>
                                <select class="form-control"
                                        ng-model="config.stories.tracker"
                                        ng-options="tracker.id as tracker.name for tracker in state.trackers">
                                </select>
                            </div>
                            <div class="form-group">
                                <label translate>config.title</label>
                                <input type="text" ng-model="config.stories.title" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label translate>config.sort</label>
                                <input type="text" ng-model="config.stories.sort" class="form-control"/>
                            </div>
                        </fieldset>
                    </div>
                </div>
            <fieldset>
                <legend translate>config.statutes</legend>
                <div class="row">
                    <div class="col-xs-4" ng-repeat="status in config.statutes">
                        <div class="form-group">
                            <label translate>config.{{status.name}}</label>
                            <select class="form-control"
                                    ng-model="status.id"
                                    ng-options="status.id as status.name for status in state.statutes">
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend translate>config.priorities</legend>
                <div class="row">
                    <div class="col-xs-3" ng-repeat="priority in config.priorities">
                        <div class="form-group">
                            <label translate>config.{{priority.name}}</label>
                            <select class="form-control"
                                    ng-model="priority.id"
                                    ng-options="priority.id as priority.name for priority in state.priorities">
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <form ng-show="json.enabled">
            <div class="form-group">
                <textarea ng-model="json.value" class="form-control" rows="15"></textarea>
                <span class="help-block" translate>config.jsonHelp</span>
            </div>
        </form>
    </div>
    <div class="modal-footer clearfix">
        <div class="pull-left">
            <button class="btn btn-default" ng-click="reset()" translate>config.reset</button>
            <button class="btn btn-warning" ng-click="restore()" translate>config.restore</button>
        </div>

        <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()" translate>config.save</button>
            <button class="btn btn-default" ng-click="cancel()" translate>config.cancel</button>
        </div>
    </div>
</div>