<div ng-controller="NavbarCtrl" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">KaMine</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActivePage('board') }"><a ng-href="{{getPageUrl('board')}}" translate>navbar.board</a></li>
            <li ng-class="{ active: isActivePage('chart') }"><a ng-href="{{getPageUrl('chart')}}" translate>navbar.chart</a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <div class="input-group short-input-group">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-href="{{state.project.url}}" tooltip="{{'navbar.goProject' | translate}}">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </span>

                    <input type="text" placeholder="{{'navbar.project' | translate}}" class="form-control project-name" name="project-name" ng-model="state.project.name" />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" tooltip="{{'navbar.switchProject' | translate}}">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li bindonce ng-repeat="project in state.projects" ng-class="{ active: project.id==state.project.id }">
                                <a ng-click="setProject(project)">{{project.name}}</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group short-input-group">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-href="{{state.sprint.url}}" tooltip="{{'navbar.goSprint' | translate}}">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </span>

                    <input type="text" placeholder="{{'navbar.sprint' | translate}}" class="form-control sprint-subject" name="sprint-subject" ng-model="state.sprint.subject" />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" tooltip="{{'navbar.switchSprint' | translate}}">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li bindonce ng-repeat="sprint in state.sprints" ng-class="{ active: sprint.id==state.sprint.id }">
                                <a ng-click="setSprint(sprint)">{{sprint.subject}}</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="btn-group">
                    <button type="button" 
                        class="btn btn-default"
                        tooltip="{{'navbar.refreshStories' | translate}}"
                    >
                        <i class="fa fa-refresh fa-lg" ng-click="refresh()"></i>
                    </button>
                    
                    <button type="button" 
                        class="btn btn-default"
                        tooltip="{{'navbar.configuration' | translate}}"
                    >
                        <i class="fa fa-gear fa-lg" ng-click="showConfiguration()"></i>
                    </button>

                    <div class="btn-group">
                        <button type="button" 
                            class="btn btn-default dropdown-toggle" 
                            data-toggle="dropdown"
                            tooltip="{{'navbar.switchLanguage' | translate}}"
                        >
                            <i class="fa fa-globe fa-lg" ng-click=""></i>&nbsp;<span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li ng-class="{ active: isActiveLanguage('en') }">
                                <a ng-click="setLanguage('en')">English</a>
                            </li>
                            <li ng-class="{ active: isActiveLanguage('fr') }">
                                <a ng-click="setLanguage('fr')">Français</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <p class="navbar-text navbar-right">
            <span class="welcome" translate translate-values="state.user" ng-if="state.user.id">navbar.welcome</span>
            <span class="help" translate ng-if="!state.user.id">navbar.help</span>
        </p>
    </div>
</div>