
<div class="board">
    <table class="board-table table table-bordered">
        <thead>
            <tr>
                <th 
                    ng-repeat="column in columns" 
                    class="board-heading" 
                    ng-class="column.name"
                >{{column.name | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td 
                    ng-repeat="column in columns" 
                    class="board-column" 
                    ng-class="column.name" 
                    drop="column" drop-class="dropping-in-column"
                >

                    <div
                        bindonce
                        ng-repeat="story in collections.stories | withStatus:column.statutes"
                        class="story well"
                        drag="story" drag-class="dragging-story"
                    >
                        <div class="story-top">
                            <a bo-href="story.url">#<span class="story-id" bo-text="story.id"></span></a>
                            -
                            <span class="story-subject" bo-text="story.subject"></span>
                        </div>

                        <div class="story-middle">
                            <span class="story-priority" bo-text="story.priority.name"></span> - <span class="story-estimated-hours" bo-text="story.estimated_hours"></span>h
                        </div>

                        <div class="story-bottom clearfix">
                            <div class="story-icon">
                                <i class="fa fa-warning fa-lg text-danger" ng-show="story.spent_time > story.estimated_hours"></i>
                                <i class="fa fa-thumbs-down fa-lg text-danger" ng-show="story | hasStatus:'testko'"></i>
                            </div>
                            <div class="story-assigned-to" ng-bind="story.assigned_to.name"></div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>