<div ng-controller="NavbarCtrl" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">KaMine</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/board') }"><a ng-href="#/board" translate>board</a></li>
            <li ng-class="{ active: isActive('/chart') }"><a ng-href="#/chart" translate>chart</a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" placeholder="{{'key' | translate}}" class="form-control user-key" name="user-key" ng-model="entities.user.api_key" ng-disabled="loader.active" ng-change="setUser()"/>
            </div>

            <div class="form-group">
                <div class="input-group short-input-group">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-href="{{entities.project.url}}" title="{{'goProject' | translate}}">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </span>

                    <input type="text" placeholder="{{'project' | translate}}" class="form-control project-name" name="project-name" ng-model="entities.project.name" />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{'switchProject' | translate}}">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li bindonce ng-repeat="project in collections.projects" ng-class="{ active: project.id==entities.project.id }">
                                <a ng-click="setProject(project)">{{project.name}}</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group short-input-group">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-href="{{entities.sprint.url}}" title="{{'goSprint' | translate}}">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </span>

                    <input type="text" placeholder="{{'sprint' | translate}}" class="form-control sprint-title" name="sprint-title" ng-model="entities.sprint.title" />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{'switchSprint' | translate}}">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li bindonce ng-repeat="sprint in collections.sprints" ng-class="{ active: sprint.id==entities.sprint.id }">
                                <a ng-click="setSprint(sprint)">{{sprint.title}}</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="btn-group">
                    <button type="button" 
                        class="btn btn-default"
                        title="{{'refreshStories' | translate}}"
                    >
                        <i class="fa fa-refresh fa-lg" ng-click=""></i>
                    </button>
                    
                    <button type="button" 
                        class="btn btn-default"
                        title="{{'editConfiguration' | translate}}"
                    >
                        <i class="fa fa-gear fa-lg" ng-click=""></i>
                    </button>

                    <div class="btn-group">
                        <button type="button" 
                            class="btn btn-default dropdown-toggle" 
                            data-toggle="dropdown"
                            title="{{'switchLanguage' | translate}}"
                        >
                            <i class="fa fa-globe fa-lg" ng-click=""></i>&nbsp;<span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li ng-class="{ active: 'en'==translate.use() }">
                                <a ng-click="translate.use('en')">English</a>
                            </li>
                            <li ng-class="{ active: 'fr'==translate.use() }">
                                <a ng-click="translate.use('fr')">Français</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>